@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FagElGamous.Models.SearchModel.BurialSearchModel

<!--form for the filtering, has fields for all the categories that a user can filter by-->

<form method="get" id="filterForm">

    <label asp-for="BurialId">BurialId</label>
    <input asp-for="BurialId"><br /><br />

    <label asp-for="BurialNumber">Burial Number</label>
    <input asp-for="BurialNumber"><br /><br />

    <label asp-for="BurialSubplot">Burial Subplot</label><br />
    <input asp-for="BurialSubplot"><br /><br />

    <label asp-for="BurialLocationEw">Burial Location E/W</label>
    <input asp-for="BurialLocationEw"><br /><br />

    <label asp-for="BurialLocationNs">Burial Location N/S</label>
    <input asp-for="BurialLocationNs"><br /><br />

    <button type="submit" form="filterForm" class="btn btn-dark btn-fill" style="background-color:#D2B48C">Search</button>
</form>

