@page
@model FagElGamous.Pages.Account.LogoutModel
@{
}

<div class="text-center text-white p-1" style="background-color:#D2B48C; border-radius:5px;"><h4>You are logged out</h4></div>
<div class="p-4">
    <a asp-page="Login" class="mx-auto btn btn-dark btn-fill" style="background-color:#889bae; width:100%;">OK</a>
</div>
