@model FagElGamous.Models.Photos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Photos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PhotoId" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filestring" class="control-label"></label>
                <input asp-for="Filestring" class="form-control" />
                <span asp-validation-for="Filestring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialId" class="control-label"></label>
                <select asp-for="BurialId" class="form-control" asp-items="ViewBag.BurialId"></select>
                <span asp-validation-for="BurialId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
