@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Data";
}

@model PhotoUpload

<div class="container">
    <br /><br /> <br /><br />

    <h1 class="text-center">Add Record:</h1>
    <a class="btn btn-default btn-fill" asp-controller="BurialRecords" asp-action="Create">Submit an Exhumation Form</a>
    <br />
    <br />
    <a class="btn btn-default btn-fill" asp-controller="MainEntries" asp-action="Create"> Add a Burial Record</a>
    <br />
    <br />
    <a class="btn btn-default btn-fill" asp-controller="Home" asp-action="PhotoUpload">Upload a Photo</a>
    <br />
    <br />
    <a class="btn btn-default btn-fill" asp-controller="Home" asp-action="FieldNotesUpload">Upload a Scanned Field Book</a>
    <br />
    <br />
    <br />
    <br />

</div>