@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Data";
}

@model PhotoUpload

<div class="container"><br /><br /><br /><br /></div>

<h1>This is where you add data</h1>

<a class="btn btn-default btn-fill" asp-controller="Home" asp-action="PhotoUpload">Upload a Photo</a>