<br /><br /><br /><br /><br /><br /><p style="margin:auto;"> Entry Recorded. Thank you.</p>
<div style="margin:auto;">
    <a class="btn btn-default btn-fill" asp-controller="Home" asp-action="Index">Return to the homepage!</a>
</div>

