@{
    ViewData["Title"] = "Home Page";
}

<div id="extras">
    <div class="space"></div>
    <div class="row">
        <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
            <div class="text-center">
                <div class="space"></div>
                <img src="/img/bodies.jpg" alt="Rounded Image" class="img-rounded img-responsive img-dog">
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <h1 class="text-center">
                About Fag <br />el-Gamous
                <small class="subtitle">Learn a bit more</small>
            </h1>
            <hr>
            <p>
                Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt
                that has been under archeological investigation (primarily by BYU researchers) for over 25 years.
                The excavation has garnered international attention because of the interesting insights gained by
                studying the Fag el-Gamous mummies. Learn more by studying the following academic article:
                <a href="https://www-sciencedirect-com.erl.lib.byu.edu/science/article/pii/S2352409X15000188">
                Rethinking burial dates at a Graeco-Roman Cemetery: Fag el-Gamous, Fayoum, Egypt</a>.
            </p><br />
            <p>
                During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes,
                spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth,
                hair color, wrapping (including information about the textiles used), gender, age, bone (including skull and teeth)
                dimensions, items accompanying the mummy, and more. And, of course, there are many, many photographs.
                Offsite, researchers have performed a variety of analyses on the items excavated including carbon dating,
                DNA sequencing, and others.
            </p>
          
        </div>
    </div>
</div><br /><br />
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<div class="main">
    <div class="container tim-container" style="max-width:800px; padding-top:42px">
        <h1 class="text-center">Learn more about <br> BYU Excavations<small class="subtitle">This is a bit about what we do!</small></h1>
        <p>
            Now that you know a little about Fag el-Gamous, it'll be easier to explain what we do here at BYU Excavations.
            Our goal is to provide the information about the mummies found at Fag el-Gamous to the public. We strive to
            have the most up to date data available to our users. As part of our goal to have the most up to date information
            available, we include the ability for researchers to input data as they are on the site working on the excavations.
            The dual functionality is for benefit of both the public and the researchers.
        </p>
        <p>
            Here at BYU Excavations, we keep our users at the forefront of our minds. It's our desire that our records are
            easily searchable and for this we have also included the ability to filter through records seemlessly. You can
            quickly look up key words and have dozens of matching records be pulled up. We hope this makes your researching
            effortless and fun.
        </p>
        <div class="text-center">
            <h4>
                Get started by searching records today!
            </h4>
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        


       
        <!--     end extras -->
    </div>
    <div class="space"></div>
    <!-- end container -->
</div>