@{
    ViewData["Title"] = "Home Page";
}
<style>
    /* Style The Dropdown Button */
    .dropbtn {
        background-color: black;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #D2B48C;
    }
</style>
<div id="navbar-full">
    <div class="container">
        <nav id="plswork" class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="logo-container">
                        <div class="logo">
                            <img src="~/img/pyramid-icon-2.png">
                        </div>
                        <div class="brand" style="font-weight:bold;">
                            BYU Excavations
                        </div>
                    </div>
                </a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar navbar-nav navbar-right">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                        <li><a asp-area="" asp-controller="Home" asp-action="DataDisplay">View Available Data</a></li>
                        <li>
                            <a asp-area="" asp-page="/Account/Login">Login</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Account/Logout">Logout</a>
                        </li>

                        @if (User.IsInRole("Researchers"))
                        {
                            @*<li>
                                <a asp-area="" asp-controller="Home" asp-action="AddDataset">Enter Data</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Home" asp-action="NotesEntry">Enter Your Field Notes</a>
                            </li>*@
                            <div class="dropdown">
                                <button class="dropbtn">Researcher</button>
                                <div class="dropdown-content">
                                    <a asp-area="" asp-controller="Home" asp-action="AddDataset">Enter Data</a>
                                    <a asp-area="" asp-controller="Home" asp-action="NotesEntry">Enter Your Field Notes</a>
                                </div>
                            </div>
                        }

                        @if (User.IsInRole("Admins"))
                        {
                            @*<li>
                <a asp-area="" asp-page="/Roles/List">View Roles</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Users/List">View Users</a>
            </li>
            <li>
                <a asp-area="" asp-page="/Users/Create">Create Users</a>
            </li>*@
                            <div class="dropdown">
                                <button class="dropbtn">Admin</button>
                                <div class="dropdown-content">
                                    <a asp-area="" asp-page="/Roles/List">View Roles</a>
                                    <a asp-area="" asp-page="/Users/List">View Users</a>
                                    <a asp-area="" asp-page="/Users/Create">Create Users</a>
                                </div>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </div><!--  end container-->

    <div class='blurred-container text-center'>
        <div class="motto text-center">
            <div>BYU</div>
            <!--<div class="border no-right-border">Eg</div>--><div class="border">Fag el-</div>
            <div class="text-center">Gamous</div><br /><br />
        </div>
        <div class="img-src" style="background-image: url(/img/excavation2.jpeg)"></div>
        <div class='img-src blur' style="background-image: url('/img/cover_4_blur.jpg')"></div>
    </div>

</div>
<div class="main">
    <div class="container tim-container">
        <div id="extras">
            <div class="space"></div>
            <div class="row">
                <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                        <img src="~/img/dulau.jpg" alt="Rounded Image" class="img-rounded img-responsive img-dog">
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h1 class="text-center">
                        About Creative Tim

                        <small class="subtitle">Get to know us</small>
                    </h1>
                    <hr>
                    <p>
                        Creative Tim offers Bootstrap based design elements that speed up your development work. From plugins to complex kits, we have everything you need.
                    </p>
                    <p>
                        We love the web and care deeply for how users interact with a digital product. The idea behind Creative Tim was creating a standard of things we actually need and would personally use inside our web projects. We power businesses and individuals to create better looking web projects around the world.
                    </p>
                    <p>
                        We take great interest in how our customers use our resources and offer strong support and unlimited updates. We are constantly thinking about how to make our products intuitive, beautiful and extremely easy to understand, so feel free to tell us your thoughts!
                    </p>

                </div>
            </div>
        </div>
        <!--     end extras -->
    </div>
    <!-- end container -->
    <div class="space-30"></div>
</div>

<div class="parallax-pro">
    <div class="img-src" style="background-image: url('/img/tomb.jpeg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-12 text-center">
                <h1 class="hello text-center">
                    <a style="font-weight: bold;">BYU Egypt Excavation</a><br />
                    <small>
                        <ul class="list-unstyled">
                            <li style="font-weight: bold;">50+ records</li>
                            <li style="font-weight: bold;">Years of Data</li>
                            <li style="font-weight: bold;">Easily Searchable</li>
                            <li style="font-weight: bold;">User Friendly </li>
                        </ul>
                    </small>
                </h1>
                <div class="actions">
                    <a style="background-color: black;" class="btn btn-lg btn-fill" asp-area="" asp-page="/Account/Login">Login</a>
                </div>
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="credits">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>  BYU Excavations
                </div>
            </div>
        </div>
    </div>

</div>


<!-- end main -->