@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ViewAllDataViewModel
@{
    ViewData["Title"] = "All Burial Data";
}

<div class="container"><br /><br /><br /><br /></div>

<div class="container">

    <p>@Model.BurialRecord.BurialId</p>

</div>