@{
    ViewData["Title"] = "Home Page";
}
<div id="navbar-full">
    <div class="container">
        <nav id="plswork" class="navbar navbar-ct-blue navbar-transparent navbar-fixed-top" role="navigation">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="logo-container">
                        <div class="logo">
                            <img src="~/img/pyramid-icon-2.png">
                        </div>
                        <div class="brand" style="font-weight:bold;">
                            BYU Excavations
                        </div>
                    </div>
                </a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar navbar-nav navbar-right">
                        <li><a class="btn btn-round btn-default" style="font-weight:bold;" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                        <li><a class="btn btn-round btn-default" style="font-weight:bold;" asp-area="" asp-controller="Home" asp-action="DataDisplay">View Available Data</a></li>
                        <li>
                            <a class="btn btn-round btn-default" style="font-weight:bold;" asp-area="" asp-page="/Account/Login">Login</a>
                        </li>
                        <li>
                            <a class="btn btn-round btn-default" style="font-weight:bold;" asp-area="" asp-page="/Account/Logout">Logout</a>
                        </li>

                        @if (User.IsInRole("Researchers"))
                        {
                            <li>
                                <a class="btn btn-round btn-default" style="font-weight:bold;" asp-area="" asp-controller="Home" asp-action="AddDataset">Enter Data</a>
                            </li>
                            <li>
                                <a class="btn btn-round btn-default" style="font-weight:bold;" asp-area="" asp-controller="Home" asp-action="NotesEntry">Enter Your Field Notes</a>
                            </li>
                        }

                        @if (User.IsInRole("Admins"))
                        {
                            <li>
                                <a class="btn btn-round btn-default" asp-area="" asp-page="/Roles/List">View Roles</a>
                            </li>
                            <li>
                                <a class="btn btn-round btn-default" asp-area="" asp-page="/Users/List">View Users</a>
                            </li>
                            <li>
                                <a class="btn btn-round btn-default" asp-area="" asp-page="/Users/Create">Create Users</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>

    </div><!--  end container-->

    <div class='blurred-container text-center'>
        <div class="motto text-center">
            <div>BYU</div>
            <!--<div class="border no-right-border">Eg</div>--><div class="border">Egypt</div>
            <div class="text-center">Excavation</div>
        </div>
        <div class="img-src" style="background-image: url(/img/excavation2.jpeg)"></div>
        <div class='img-src blur' style="background-image: url('/img/cover_4_blur.jpg')"></div>
    </div>

</div>
<div class="main">
    <div class="container tim-container">
        <div id="extras">
            <div class="space"></div>
            <div class="row">
                <div class="col-md-7 col-md-offset-0 col-sm-10 col-sm-offset-1">
                    <div class="text-center">
                        <img src="~/img/dulau.jpg" alt="Rounded Image" class="img-rounded img-responsive img-dog">
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h1 class="text-center">
                        About Creative Tim

                        <small class="subtitle">Get to know us</small>
                    </h1>
                    <hr>
                    <p>
                        Creative Tim offers Bootstrap based design elements that speed up your development work. From plugins to complex kits, we have everything you need.
                    </p>
                    <p>
                        We love the web and care deeply for how users interact with a digital product. The idea behind Creative Tim was creating a standard of things we actually need and would personally use inside our web projects. We power businesses and individuals to create better looking web projects around the world.
                    </p>
                    <p>
                        We take great interest in how our customers use our resources and offer strong support and unlimited updates. We are constantly thinking about how to make our products intuitive, beautiful and extremely easy to understand, so feel free to tell us your thoughts!
                    </p>

                </div>
            </div>
        </div>
        <!--     end extras -->
    </div>
    <!-- end container -->
    <div class="space-30"></div>
</div>
<div>
    @RenderBody()
</div>
<div class="parallax-pro">
    <div class="img-src" style="background-image: url('/img/tomb.jpeg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-md-12 text-center">
                <h1 class="hello text-center">
                    <a>BYU Egypt Excavation</a>
                    <small>
                        <ul class="list-unstyled">
                            <li>50+ records</li>
                            <li>Years of Data</li>
                            <li>Easily Searchable</li>
                            <li>User Friendly </li>
                        </ul>
                    </small>
                </h1>
                <div class="actions">
                    <a class="btn btn-lg btn-warning btn-fill" asp-area="" asp-page="/Account/Login">Login</a>
                </div>
            </div>
        </div>
        <div class="space-30"></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="credits">
                    &copy;
                    <script>document.write(new Date().getFullYear())</script>  BYU Excavations<i class="fa fa-heart heart" alt="love"></i>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- end main -->